{{#with details as |contact|}}
  <div class="contact contact-banner">
    <div class="photo-wrapper">
      <img src="{{contact.picture}}" alt="">
    </div>
    <div class="information">
      <h2 class="light name">{{contact.firstName}} {{contact.lastName}}</h2>
      <p class="light-blue title-company">
        {{contact.jobTitle}} at {{contact.company}}
      </p>
    </div>
  </div>
  <div class="contact-details">
    <div class="contact-section">
      <h4 class="section-title">Contact</h4>
      <table class="contact-items">
        <tbody>
          <tr>
            <td class="icon">{{fa-icon 'phone'}}</td>
            <td class="phone">{{if contact.phone contact.phone 'No phone'}}</td>
          </tr>
          <tr>
            <td class="icon">{{fa-icon 'envelope-o'}}</td>
            <td class="email">{{contact.email}}</td>
          </tr>
          <tr>
            <td class="icon">{{fa-icon 'birthday-cake'}}</td>
            <td class="birthday">{{contact.birthday}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{{else}}
  <div class="contact-details">
    <h1>Not selected contact</h1>
  </div>
{{/with}}
