{{#with details as |contact|}}
  <div class="contact contact-banner">
    <div class="photo-wrapper">
      <img src="{{contact.picture}}" alt="">
    </div>
    <div class="information">
      <h2 class="light name">{{contact.firstName}} {{contact.lastName}}</h2>
      <p class="light-blue title-company">
        {{contact.jobTitle}} at {{contact.company}}
      </p>
    </div>
  </div>
  <div class="contact-details">
    <div class="contact-section">
      <h4 class="section-title">Contact</h4>
      <div class="contact-items">
          <div>
            <span class="icon">{{fa-icon 'phone'}}</span>
            <span class="phone">{{if contact.phone contact.phone 'No phone'}}</span>
          </div>
          <div>
            <span class="icon">{{fa-icon 'envelope-o'}}</span>
            <span class="email">{{contact.email}}</span>
          </div>
          <div>
            <span class="icon">{{fa-icon 'birthday-cake'}}</span>
            <span class="birthday">{{contact.formatedBirthday}}</span>
          </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="contact-details">
    <h1>Not selected contact</h1>
  </div>
{{/with}}
